<a href="https://colab.research.google.com/github/aliyarisalat/EMPLOYEE/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee():
    
    def __init__(self,name,age,designation,email,pay):
        
        self.n=name
        self.a=age
        self.d=designation
        self.e=email
        self.p=pay
        
emp_1=Employee('Ali',34,'Asssistant manager','ali@company.com',50000)
emp_2=Employee('Ahmed',25,'Computer Engineer','eng@company.com',60000)

print('Employee name is: ',emp_1.n)
print('Employee age is: ',emp_1.a)
print('Employee designation is: ',emp_1.d)
print('Employee email is: ',emp_1.e)
print('Employee pay is: ',emp_1.p)

print('\nEmployee name is: ',emp_2.n)
print('Employee age is: ',emp_2.a)
print('Employee designation is: ',emp_2.d)
print('Employee email is: ',emp_2.e)
print('Employee pay is: ',emp_2.p)

Employee name is:  Ali
Employee age is:  34
Employee designation is:  Asssistant manager
Employee email is:  ali@company.com
Employee pay is:  50000

Employee name is:  Ahmed
Employee age is:  25
Employee designation is:  Computer Engineer
Employee email is:  eng@company.com
Employee pay is:  60000

In [ ]:
class Employee():
    
    def __init__(self,name,age,designation,email,pay):
        
        self.n=name
        self.a=age
        self.d=designation
        self.e=email
        self.p=pay
        
    def data(self):
        print('Employee name is: ',self.n)
        print('Employee age is: ',self.a)
        print('Employee designation is: ',self.d)
        print('Employee email is: ',self.e)
        print('Employee pay is: ',self.p)

emp_1=Employee('Ali',34,'Asssistant manager','ali@company.com',50000)
emp_2=Employee('Ahmed',25,'Computer Engineer','eng@company.com',60000)
print('\n')

emp_1.data()
emp_2.data()

Employee name is:  Ali
Employee age is:  34
Employee designation is:  Asssistant manager
Employee email is:  ali@company.com
Employee pay is:  50000
Employee name is:  Ahmed
Employee age is:  25
Employee designation is:  Computer Engineer
Employee email is:  eng@company.com
Employee pay is:  60000